@use 'src/styles/variables/spacing';

$company-avatar-image-size: spacing.$size-80;

.company-avatar {
  &__image {
    width: $company-avatar-image-size;
    height: $company-avatar-image-size;
  }
}
