@use 'src/styles/variables/colors';
@use 'src/styles/variables/spacing';
@use 'src/styles/variables/typography';

$experience-padding: spacing.$size-48 0;
$experience-item-margin: spacing.$size-64;
$experience-description-margin: spacing.$size-32;
$experience-description-padding: 0 0 0 spacing.$size-32;
$experience-description-border: spacing.$size-4 solid colors.$secondary;
$experience-info-text-size: typography.$font-size-14;
$experience-info-line-height: 1.75;
$experience-position-margin: spacing.$size-4;

.experience {
  padding: $experience-padding;

  &__item {
    margin-bottom: $experience-item-margin;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__company,
  &__period,
  &__place {
    font-size: $experience-info-text-size;
    line-height: $experience-info-line-height;
  }

  &__company {
    font-weight: bold;
  }

  &__position {
    margin-bottom: $experience-position-margin;
    font-weight: bold;
  }

  &__description {
    margin-top: $experience-description-margin;
    padding: $experience-description-padding;
    border-left: $experience-description-border;
    text-align: justify;
  }
}
