$personals-padding: 6rem 0 3rem 0;
$personals-letter-spacing: 0.0625rem;
$first-name-font-size: 3rem;
$first-name-line-height: 1;
$last-name-font-size: 3rem;
$position-font-size: 1.25rem;

.personals {
  padding: $personals-padding;
  letter-spacing: $personals-letter-spacing;

  &__first-name,
  &__last-name {
    text-transform: uppercase;
  }

  &__first-name {
    font-size: $first-name-font-size;
    line-height: $first-name-line-height;
  }

  &__last-name {
    font-size: $last-name-font-size;
    font-weight: bold;
  }

  &__position {
    font-size: $position-font-size;
    text-transform: uppercase;
  }
}
