@font-face {
  font-family: Raleway;
  font-weight: bold;
  src: url('styles/icons/raleway/static/Raleway-Bold.ttf');
}

@font-face {
  font-family: Raleway;
  src: url('styles/icons/raleway/static/Raleway-Medium.ttf');
}

@font-face {
  font-family: Raleway;
  font-weight: 100;
  src: url('styles/icons/raleway/static/Raleway-Thin.ttf');
}

@font-face {
  font-family: Raleway;
  font-weight: 200;
  src: url('styles/icons/raleway/static/Raleway-Light.ttf');
}
